<%= form_for @song  do |f| %>
  <label><%= @song.updated_at.strftime("Last updated %A, %b %e, at %l:%M %p") %></label><br>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>
  <br />

  <%= f.submit %>
